.tour-kit-wpcom-minimized {
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba( 60, 66, 87, 0.08 ), 0 0 0 1px rgba( 60, 66, 87, 0.16 ),
		0 1px 1px rgba( 0, 0, 0, 0.08 );
	background-color: $white;
	color: $black;

	.components-button {
		height: 44px;

		.tour-kit-wpcom-minimized__tour-index {
			color: $gray-600;
		}

		svg {
			color: #50575e;
		}

		&:hover {
			.tour-kit-wpcom-minimized__tour-index,
			svg {
				color: inherit;
			}
		}
	}
}